<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormUI.Properties.Settings.OracleSysUser" connectionString="DATA SOURCE=PDBSTD;DBA PRIVILEGE=SYSDBA;PASSWORD=ultraLife31;USER ID=SYS"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>